{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>codelife contest Details</title>
    <style>
                .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: none;
            justify-content: center;
            align-items: center;
        }
        .slider-container {
            width: 80%;
            max-width: 500px;
            background: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            position: relative;
        }
        .slide {
            display: none;
        }
        .active {
            display: block;
        }
        .btn {
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background: #007bff;
            color: white;
        }
        .hidden {
            display: none;
        }
        /* a{
            display:none;
        } */

    </style>
{% endblock %}
{% block nav %}
<a href="{% url 'core:home'%}" class="nav-link">Home</a>
<a href="{% url 'core:contests'%}" class="nav-link active">Contests</a>
<a href="{% url 'core:home'%}" class="nav-link">About</a>
{% endblock %}
{% block body %}
<div class="content">

    <div class="contests-header">
        <div class="contests-header-content"><p>{{contest.title}}</p>
            <p style="font-size: 0.8rem;color: var(--text-primary);">🗓️ {{contest.start_date}} - 🗓️ {{contest.end_date}}</p>
        </div>
        <div class="contest-type active">{{contest.status}}</div>
    </div>
    <hr>
    <div class="contests-type">
        <h3>Description</h3>
    </div>


    
    <div class="contest-description">
        {{ contest.description|safe }}
        <!-- <p>form:{{contest.start_date}} to {{contest.end_date}}</p> -->
         {% if contest.poster %}
        <img class='description-image' src="{{ contest.poster.url }}" alt="Contest Poster" >
        {% endif %}
    </div>
    <hr>
    <p>Registration count :{{ registration_count }}</p>

    {% if request.user.is_authenticated %}
    <div class="contest-registration-content">
        
    {% if contest.status == 'Past' %}
        <div class="past-contest">
            <p>Winner: {{ contest.winner }}</p>
            <p>Runner-Up: {{ contest.runner }}</p>
        </div>
    {% elif contest.status == 'Ongoing' %}
        {% if is_participant %}
        <button class="btn" onclick="startContest()">Start Contest</button>

        <div class="pop-up" id="instructionScreen">
          
            
            <div class="pop-up-container">
                <div class="pop-header">
                    <div class="pop-uphead" style="margin-left: 20px;"><h1>Instructions</h1></div> 
                    <button  style="font-size: 14px;" class="close-button" onclick="closePopUp()">❌</button>
                </div>
                <div class="slide active">
                    <img src="/media/core_media/instruction1.jpg" width="100%" alt="Instruction 1">
                    <button class="btn" onclick="nextSlide()">Next</button>
                </div>
                <div class="slide">
                    <div style="padding:40px 30px; align-items: center;font-size: 20px;line-height: 2rem;">
                        <b>🚨 Tab Switching is Not Allowed</b>  
                        <p style="margin-left: 30px;">
                            If you switch tabs during the contest, your attempt will be <b>stopped immediately</b> and you will be  
                            <b>redirected to the results page</b>.
                        </p>  
                    
                        <b>⏳ Submission Rules</b>  
                        <p style="margin-left: 30px;">
                            ✅ Submissions are allowed <b>only once every 10 seconds</b>.  
                            ❌ <b>No Run Button</b> is provided, so review your code carefully before submitting.
                        </p>  
                    
                        <b>❤️ Limited Lives Per Question</b>  
                        <p style="margin-left: 30px;">
                            Each question has <b>a limited number of lives</b> based on its difficulty.  
                            ❌ For <b>each failed submission, one life will be deducted</b>. If lives reach 0, you cannot attempt again.
                        </p>  
                    
                        <b>🔍 Review Before Submitting</b>  
                        <p style="margin-left: 30px;">
                            ⚠️ <b>Double-check</b> your solution before submitting. There is <b>no second chance</b> if you run out of lives.
                        </p>  
                    </div>
                    
                    <button class="btn" style="align-self: center ;" onclick="nextSlide()">Next</button>
                </div>
                <div class="slide">
                    <div style="padding:40px 30px; align-items: center; font-size: 20px; line-height: 2rem;">
                        <b>🚫 No Auto-Indentation & No Auto-Closing Tags</b>  
                        <p style="margin-left: 30px;">
                            Auto-indentation and auto-closing of brackets are disabled. You must <b>manually format your code</b>. 
                        </p>  
                        <b>🛑 Full-Screen Mode is Mandatory</b>  
                        <p style="margin-left: 30px;">
                            The contest must be attempted <b>only in full-screen mode</b>.  
                            🖱️ <b>Right-click is disabled</b>, and switching to any other tab <b>will result in disqualification</b>.
                        </p>  
                    
                        <b>🔥 Additional Instructions</b>  
                        <p style="margin-left: 30px;">
                            🔹 You can attempt questions in <b>any order</b>.
                            🔹 Be mindful of the <b>lives</b> for each question. 
                            🔹 Cheating or bypassing restrictions may result in <b>disqualification</b>.
                        </p>  
                    </div>
                    
                    <a href="{% url 'codelife:contest' contest.id %}" class="btn" style="align-self: center;margin-left: 40%;">Start Contest</a>
                    <!-- <button class="btn" onclick="startActualContest()">Start Contest</button> -->
                </div>
            </div>
        </div>
    
        
        {% else %}
            <!-- <div class="register">
                <form action="{% url 'codelife:register' contest.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Register">
                </form>
            </div> -->
            <button class="btn" onclick="registerUser()">Register</button>
        {% endif %}
    {% elif contest.status == 'Upcoming' %}
    {% if is_participant %} <p>You already registred to this contest</p>{% else %}
        <div class="register">
            <!-- <form action="{% url 'codelife:register' contest.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Register">
            </form> -->
            <button class="btn" onclick="registerUser()">Register</button>
        </div>
        {% endif %}

         

    {% endif %}
    </div>

    {% if request.user.is_staff %}
        <div class="edit">
            <a href="{% url 'core:edit_contest' contest.id %}">Edit contest</a> |
            <a href="{% url 'codelife:add_question' contest.id %}">Add Question</a>
        </div>
        <div class="questions">
            <ul>
                {% for question in questions %}
                    <li>{{ question.title }} ---
                        <a href="{% url 'codelife:edit_question' question.id %}">Edit question</a>
                    </li>
                {% empty %}
                    <li>No questions available.</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% else %}
    <p>Please log in to participate.</p>
{% endif %}
</div>
{% endblock %}

{% block script %}
<script>
     function registerUser() {
        fetch("{% url 'codelife:register' contest.id %}", {
            method: "POST"
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.success) {
                location.reload(); 
            } else {
                alert("Registration failed! try again later.\n or inform the team codehub");
            }
        })
        .catch(error => console.error("Error:", error));
    }
    // function startContest(){

    // }
</script>
<script>
    let currentSlide = 0;
    let slides;

    function startContest() {
        document.getElementById("instructionScreen").style.display = "flex";
        slides = document.querySelectorAll(".slide");
        currentSlide=0;
        slides.forEach(slide => {
            slide.classList.remove("active");
        });
        slides[0].classList.add("active");
    }

    function nextSlide() {
        slides[currentSlide].classList.remove("active");
        currentSlide++;
        if (currentSlide < slides.length) {
            slides[currentSlide].classList.add("active");
        }
        // else{
        //     document.a.style.display='inline';
        // }
    }

    function startActualContest() {
        alert("Contest Started!");
        document.getElementById("instructionScreen").style.display = "none";
    }

    function closePopUp(){
       
            document.getElementById("instructionScreen").style.display = "none";
      
        
    }
</script>
{% endblock %}