{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>codelife contest Details</title>
{% endblock %}
{% block nav %}
<a href="{% url 'core:home'%}" class="nav-link">Home</a>
<a href="{% url 'core:contests'%}" class="nav-link active">Contests</a>
<a href="{% url 'core:home'%}" class="nav-link">About</a>
{% endblock %}
{% block body %}
<div class="content">

    <div class="contests-header">
        <div class="contests-header-content"><p>{{contest.title}}</p>
            <p style="font-size: 0.8rem;color: var(--text-primary);">🗓️ {{contest.start_date}} - 🗓️ {{contest.end_date}}</p>
        </div>
        <div class="contest-type active">{{contest.status}}</div>
    </div>
    <hr>
    <div class="contests-type">
        <h3>Description</h3>
    </div>


    
    <div class="contest-description">
        {{ contest.description|safe }}
        <!-- <p>form:{{contest.start_date}} to {{contest.end_date}}</p> -->
         {% if contest.poster %}
        <img class='description-image' src="{{ contest.poster.url }}" alt="Contest Poster" >
        {% endif %}
    </div>
    <hr>
    <p>Registration count :{{ registration_count }}</p>

    {% if request.user.is_authenticated %}
    <div class="contest-registration-content">
        
    {% if contest.status == 'Past' %}
        <div class="past-contest">
            <p>Winner: {{ contest.winner }}</p>
            <p>Runner-Up: {{ contest.runner }}</p>
        </div>
    {% elif contest.status == 'Ongoing' %}
        {% if is_participant %}
            <a href="{% url 'codelife:contest' contest.id %}">Start</a>
        {% else %}
            <div class="register">
                <form action="{% url 'codelife:register' contest.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Register">
                </form>
            </div>
        {% endif %}
    {% elif contest.status == 'Upcoming' %}
    {% if is_participant %} <p>You already registred to this contest</p>{% else %}
        <div class="register">
            <form action="{% url 'codelife:register' contest.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Register">
            </form>
        </div>
        {% endif %}

        

    {% endif %}
 

    {% if request.user.is_staff %}
        <div class="edit">
            <a href="{% url 'core:edit_contest' contest.id %}">Edit contest</a> |
            <a href="{% url 'codelife:add_question' contest.id %}">Add Question</a>
        </div>
        <div class="questions">
            <ul>
                {% for question in questions %}
                    <li>{{ question.title }} ---
                        <a href="{% url 'codelife:edit_question' question.id %}">Edit question</a>
                    </li>
                {% empty %}
                    <li>No questions available.</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% else %}
    <p>Please log in to participate.</p>
{% endif %}
</div>
</div>


{% endblock %}