{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block nav %}
<a href="{% url 'core:home'%}" class="nav-link active">Home</a>
<a href="{% url 'core:contests'%}" class="nav-link">Contests</a>
<a href="{% url 'core:home'%}" class="nav-link">About</a>
{% endblock %}

{% block body %}
    <h1>Welcome to Home Page CodeHub!</h1>
    {% if request.user.is_authenticated %}
        {{ request.user.username }}
    {% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'core/js/script.js' %}"></script>
{% endblock %}

