{% extends 'base.html' %}
{% block head %} 
    <title>Document</title>
    <style>input,select,button{
        border: 1px solid var(--border-color);
        background-color: var(--bg-secondary);
        color: var(--text-color);
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
        min-width: 50%;
    }

   #form-content{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin: 0;
    width: 30%;
    padding-bottom: 10px;
   }
    /* #form-content{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    margin-left: 0;
    border: none;
    }
    .formdata{  top: 50%;
        left: 50%;
        width: fit-content;
        height: fit-content;
    align-self: center;
border:3px solid var(--border-color); ;
} */


    </style>
{% endblock %} 
{% block body %}
<div id="form-content">
    <h3>Login</h3>
    <div class="formdata">
        
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
    {% if message is not None %}
    {{ message }}
    {% endif %}
</div>
</div>
{% endblock %}
